<p>
    <label type="text">User : 
        <input type="text" [formControl]="userName">
    </label>
</p>
<p>
    <label type="text">Mail : 
        <input type="text" [formControl]="mail">
    </label>
</p>
<p>
    <label type="text">Password : 
        <input type="text" [formControl]="password">
    </label>
</p>
<p>
    <label type="text">Adress : 
        <input type="text" [formControl]="adress">
    </label>
</p>

<button type="submit" (click)="inscription()">Inscription</button><br>

<p>
    {{newUser.userName}}<br>
    {{newUser.mail}}<br>
    {{newUser.password}}<br>
    {{newUser.adress}}
</p>
