<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <p>
        <label type="text">User : 
            <input type="text" formControlName="userName">
        </label>
    </p>

    <div formGroupName ="credentials">
        <p>
            <label type="text">Mail : 
                <input type="text" formControlName="mail">
            </label>
        </p>
        <p>
            <label type="text">Password : 
                <input type="text" formControlName="password">
            </label>
        </p>
    </div>
    <div formGroupName = "adress">
        <p>
            <label type="text">Street : 
                <input type="text" formControlName="street">
            </label>
            <label type="text">City : 
                <input type="text" formControlName="city">
            </label>
            <label type="text">Zipcode : 
                <input type="text" formControlName="zipCode">
            </label>
        </p>
    </div>
    
    <button type="submit" [disabled]="!userForm.valid">Inscription</button><br>
</form>
